body {
  background-color: blue;
  color: white;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

a {
  color: white;
  padding: 10px;
  border: 2px solid red;
}

.header {
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px;
}
