doctype html
html

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="/styles/header.css")
    link(rel="stylesheet" href="/styles/moviesList.css")

  body
    .container
      include includes/header
      img#frogs
      block base
        p If you are seeing this message, you have not properly replaced the {{block base}}
      //script tags here
