li {
  list-style: none;
}

li a {
  text-decoration: none;
  font-size: 1.3rem;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  padding-left: 2px;
  padding-bottom: 1px;
}

#frogs {
  content:url("../images/1potatoes_large.png");
  /* border: 5px solid black; */
  /* background-color: black; */
  height: 100px;
  width: 100px;
}
